/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@600&family=Work+Sans:wght@400;500;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__logo {
  max-width: 200px;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}
@media (max-width: 992px) {
  .header .menu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    padding: 20px 0;
    background-color: var(--accent-color);
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
  }
  .header .menu._active {
    left: 0;
  }
}
.header .menu-icon {
  display: none;
}
@media (max-width: 992px) {
  .header .menu-icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .header .menu-icon span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .header .menu-icon span:first-child {
    top: 0;
  }
  .header .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .header .menu-icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .menu-icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header .menu-icon._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}
@media (max-width: 992px) {
  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
}
.header .menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--text-color);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  position: relative;
}
.header .menu__link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (any-hover: hover) {
  .header .menu__link:hover {
    color: #fff;
  }
  .header .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 992px) {
  .header .menu__link {
    line-height: 50px;
    font-size: 30px;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.header__btn {
  padding: 11px 29px;
  color: #fff;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}
@media (max-width: 575px) {
  .header__btn {
    padding: 7px 15px;
  }
}
@media (any-hover: hover) {
  .header .login:hover {
    background-color: var(--accent-color);
  }
}
@media (max-width: 425px) {
  .header .login {
    display: none;
  }
}
.header .register {
  background-color: var(--accent-color);
}
@media (any-hover: hover) {
  .header .register:hover {
    background-color: transparent;
  }
}

.hero {
  margin-top: clamp(1.25rem, 0.259rem + 4.95vw, 4.688rem);
  position: relative;
  padding-bottom: clamp(1.25rem, -0.011rem + 6.31vw, 5.625rem);
}
.hero .hero-deco {
  position: absolute;
  bottom: -170px;
  right: 0;
  z-index: -1;
}
@media (max-width: 576px) {
  .hero .hero-deco {
    height: 300px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.2957746479%;
          flex: 0 0 49.2957746479%;
  padding-bottom: 160px;
}
@media (max-width: 992px) {
  .hero__content {
    padding-bottom: 15px;
  }
}
.hero__title {
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
}
.hero__text {
  margin-top: 18px;
}
.hero__filter {
  height: 100px;
  width: 880px;
  background-color: #fff;
  margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
  position: absolute;
}
@media (max-width: 992px) {
  .hero__filter {
    width: 100%;
    position: static;
  }
}
.hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.2957746479%;
          flex: 0 0 49.2957746479%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero__img {
    display: none;
  }
}

/* Filter */
.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
}
@media (max-width: 576px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    height: auto;
  }
}
@media (max-width: 475px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.filter__block:nth-child(2) {
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
}
.filter__btn {
  padding: 5px;
  cursor: pointer;
}
.filter__btn button {
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
  padding: 10px;
}
.filter__btn button:active {
  background-color: #15786c;
}
@media (max-width: 576px) and (min-width: 745px) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter {
  position: relative;
}
.block-filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 clamp(1.25rem, 0.89rem + 1.8vw, 2.5rem);
}
.block-filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-filter__type {
  padding-right: 2px;
  cursor: pointer;
}
.block-filter__icon {
  width: 10px;
  height: 7px;
  background: url("../../assets/images/icons/dropdown.svg") center bottom no-repeat;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.block-filter__icon._active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.block-filter__velue {
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.block-filter__dropdown {
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0 2px 2px #000;
          box-shadow: 0 0 2px 2px #000;
}
.block-filter__dropdown._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.block-filter__item {
  padding: 10px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-transform: capitalize;
  cursor: pointer;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #adadad;
  }
}

.featured {
  padding-top: clamp(1.25rem, -0.011rem + 13vw, 5.625rem);
  padding-bottom: clamp(1.875rem, -0.828rem + 13.51vw, 11.25rem);
}
.featured__box {
  margin-top: clamp(1.875rem, 1.515rem + 1.8vw, 3.125rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}
.featured__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.popular {
  padding: clamp(1.875rem, -0.467rem + 11.71vw, 10rem);
  background: url("../../assets/images/slider-bg.png") center center/cover no-repeat;
}
.popular__slider {
  margin-top: 40px;
  position: relative;
}
.popular__link {
  text-align: center;
  margin-top: 45px;
}
.popular__link a {
  display: inline-block;
  padding: 22px 42px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 auto;
  text-decoration: none;
  background-color: var(--accent-color);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
@media (any-hover: hover) {
  .popular__link a:hover {
    background-color: #15786c;
  }
}
.popular-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
}
@media (max-width: 660px) {
  .popular-slide {
    text-align: center;
  }
}
.popular-slide__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.popular-slide__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 660px) {
  .popular-slide__labels {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.popular-slide__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.slider-buttons {
  position: absolute;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 1800px) {
  .slider-buttons {
    top: -100px;
    right: 0;
    width: auto;
    gap: 30px;
  }
}

.swiper-button-prev {
  position: absolute;
  left: -130px;
}

.swiper-button-next {
  position: absolute;
  right: -130px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popular-slider-btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: url("../../assets/images/icons/arrow-slider.svg") left 50% center no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}
@media (max-width: 1800px) {
  .popular-slider-btn {
    position: static;
  }
}
@media (max-width: 671px) {
  .popular-slider-btn {
    display: none;
  }
}

.why {
  padding-top: clamp(1.875rem, -0.828rem + 13.51vw, 11.25rem);
  padding-bottom: clamp(1.875rem, 0.704rem + 5.86vw, 5.938rem);
}
.why__title {
  text-align: center;
}
.why__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
  gap: clamp(1.25rem, 0.705rem + 10vw, 3.125rem);
}
@media (max-width: 768px) {
  .why__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26.4788732394%;
          flex: 0 0 26.4788732394%;
}

.item-why__img {
  width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: clamp(1.563rem, 1.362rem + 1vw, 2.25rem);
}
.item-why__img::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.12;
}
.item-why__img svg {
  width: 40%;
  height: 40%;
}

.item-why__title {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.item-why__text {
  margin-top: 11px;
}

.reviews {
  position: relative;
  padding-bottom: clamp(1.875rem, 0.602rem + 6.36vw, 6.25rem);
}
.reviews .reviews-deco {
  position: absolute;
  top: -470px;
  left: 0;
  z-index: -1;
}
.reviews .reviews__container {
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 100px;
}
.reviews__quotes {
  width: clamp(2.813rem, 0.394rem + 12.09vw, 11.125rem);
  padding-bottom: 7px;
}
.reviews__text {
  max-width: 1003px;
  font-size: clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
  font-weight: 400;
  text-transform: capitalize;
}
.reviews__info {
  margin-top: 40px;
}
.reviews__name {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.22px;
  text-transform: capitalize;
}

.gallery {
  background: -webkit-gradient(linear, right top, left top, color-stop(0.01%, #1A242F), color-stop(82.97%, rgba(26, 36, 47, 0)));
  background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
}
.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 63px;
}
@media (max-width: 992px) {
  .gallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.gallery__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  width: 50.7042253521%;
}
@media (max-width: 992px) {
  .gallery__box {
    width: 100%;
  }
}
.gallery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
  width: 350px;
  aspect-ratio: 7/11;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 475px) {
  .gallery__info {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .gallery__title {
    max-width: 520px;
  }
}
.gallery__text {
  margin-top: 22px;
}
.gallery__link {
  display: inline-block;
  margin-top: 45px;
  padding: 22px 42px;
  background-color: var(--accent-color);
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.gallery__link:hover {
  background-color: #15786c;
}

.begin {
  position: relative;
  padding: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem) 0;
}
.begin-wave {
  position: absolute;
  top: 340px;
  left: 0;
  z-index: -1;
}
.begin-rect {
  position: absolute;
  padding: -77px;
  right: 0;
  top: -65px;
}
@media (max-width: 475px) {
  .begin-rect {
    display: none;
  }
}
.begin .begin__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  max-width: 1237px;
}
@media (max-width: 768px) {
  .begin .begin__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.begin__title {
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
  max-width: 512px;
}
.begin__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.begin__text {
  max-width: 637px;
}
.begin__link {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 22px 42px;
  background-color: var(--accent-color);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  margin-top: 54px;
}
.begin__link:hover {
  background-color: #15786c;
}

.footer {
  background: #1A242F;
  padding-top: clamp(1.875rem, -0.125rem + 10vw, 8.75rem);
}

.main-footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: clamp(1.875rem, -14.494rem + 26.19vw, 8.75rem);
}
@media (max-width: 992px) {
  .main-footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .main-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.footer__main {
  padding-bottom: clamp(1.875rem, 0.784rem + 5.45vw, 5.625rem);
}

@media (max-width: 992px) {
  .footer__block {
    grid-column: 1/5;
  }
  .footer__block:not(:first-child) {
    grid-row: 2/3;
    grid-column: auto;
  }
}

.footer__text {
  margin: 32px 0 32px;
}
@media (min-width: 992px) {
  .footer__text {
    width: 340px;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 600px) {
  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__social svg {
  fill: #555E68;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
.footer__social:hover svg {
  fill: #fff;
}

.links-footer__header {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  margin-bottom: 11px;
}

.links-footer__link {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .links-footer__link:hover {
    color: #fff;
  }
}

.footer__copyright {
  padding: 15px 0;
  border-top: 1px solid #000;
}
.footer__copyright .copyright__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 690px) {
  .footer__copyright .copyright__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}

:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #d6d6d6;
}

body {
  font-family: Work Sans, sans-serif;
  background-color: var(--bg-color);
  position: relative;
  color: #fff;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: clamp(1.875rem, 1.551rem + 1.62vw, 3rem);
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
  color: #fff;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: var(--text-color);
}