@import '../css/_reset.css';
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@600&family=Work+Sans:wght@400;500;600&display=swap");
.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__logo {
  max-width: 200px;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}
@media (max-width: 992px) {
  .header .menu {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    padding: 20px 0;
    background-color: var(--accent-color);
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
  }
  .header .menu._active {
    left: 0;
  }
}
.header .menu-icon {
  display: none;
}
@media (max-width: 992px) {
  .header .menu-icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .header .menu-icon span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .header .menu-icon span:first-child {
    top: 0;
  }
  .header .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .header .menu-icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .menu-icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .header .menu-icon._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}
@media (max-width: 992px) {
  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
}
.header .menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--text-color);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  position: relative;
}
.header .menu__link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (any-hover: hover) {
  .header .menu__link:hover {
    color: #fff;
  }
  .header .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 992px) {
  .header .menu__link {
    line-height: 50px;
    font-size: 30px;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.header__btn {
  padding: 11px 29px;
  color: #fff;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}
@media (max-width: 575px) {
  .header__btn {
    padding: 7px 15px;
  }
}
@media (any-hover: hover) {
  .header .login:hover {
    background-color: var(--accent-color);
  }
}
@media (max-width: 425px) {
  .header .login {
    display: none;
  }
}
.header .register {
  background-color: var(--accent-color);
}
@media (any-hover: hover) {
  .header .register:hover {
    background-color: transparent;
  }
}

.hero {
  margin-top: clamp(1.25rem, 0.259rem + 4.95vw, 4.688rem);
}
.hero .hero-deco {
  position: absolute;
  bottom: -240px;
  right: 0;
  z-index: -1;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.2957746479%;
          flex: 0 0 49.2957746479%;
  padding-bottom: 160px;
}
@media (max-width: 992px) {
  .hero__content {
    padding-bottom: 15px;
  }
}
.hero__title {
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
}
.hero__text {
  margin-top: 18px;
}
.hero__filter {
  height: 100px;
  width: 880px;
  background-color: #fff;
  margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
  position: absolute;
}
@media (max-width: 992px) {
  .hero__filter {
    width: 100%;
    position: static;
  }
}
.hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.2957746479%;
          flex: 0 0 49.2957746479%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero__img {
    display: none;
  }
}

/* Filter */
.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
  padding: 5px;
  height: auto;
}
@media (max-width: 576px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 475px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.filter__block:nth-child(2) {
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
}
.filter__btn {
  padding: 5px;
  cursor: pointer;
}
.filter__btn button {
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
  padding: 10px;
}
.filter__btn button:active {
  background-color: #15786c;
}
@media (max-width: 576px) and (min-width: 745px) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter {
  position: relative;
}
.block-filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 clamp(1.25rem, 0.89rem + 1.8vw, 2.5rem);
}
.block-filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-filter__type {
  padding-right: 2px;
}
.block-filter__icon {
  width: 10px;
  height: 7px;
  background: url("../../assets/images/icons/dropdown.svg") center bottom no-repeat;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.block-filter__icon._active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.block-filter__velue {
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.block-filter__dropdown {
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0 2px 2px #000;
          box-shadow: 0 0 2px 2px #000;
}
.block-filter__dropdown._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.block-filter__item {
  padding: 10px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-transform: capitalize;
  cursor: pointer;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #adadad;
  }
}

:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #d6d6d6;
}

body {
  font-family: Work Sans, sans-serif;
  background-color: var(--bg-color);
  position: relative;
  color: #fff;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: var(--text-color);
}