@import '../css/_reset.css';

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@600&family=Work+Sans:wght@400;500;600&display=swap');

@import './header/header.scss';
@import './section_main/section_main.scss';
@import './section__featured/featured.scss';
@import './popular/popular.scss';


:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #d6d6d6;
}

body {
  font-family: Work Sans, sans-serif;
  background-color: var(--bg-color);
  position: relative;
  color: #fff;
  &._lock {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: clamp(1.875rem, 1.551rem + 1.62vw, 3rem);
  font-weight: 600;
  line-height: 1.26; 
  text-transform: capitalize;
  color: #fff;
}


.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: var(--text-color);
} 