.popular {
  padding: clamp(1.875rem, -0.467rem + 11.71vw, 10rem);
  background: url("../../assets/images/slider-bg.png") center center/cover no-repeat;
}
.popular__slider {
  margin-top: 40px;
  position: relative;
}
.popular__link {
  text-align: center;
  margin-top: 67px;
}
.popular__link a {
  display: inline-block;
  padding: 22px 42px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 auto;
  text-decoration: none;
  background-color: var(--accent-color);
  -webkit-transition: property 0.2s;
  transition: property 0.2s;
}
@media (any-hover: hover) {
  .popular__link a:hover {
    background-color: #15786c;
  }
}
.popular-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
}
@media (max-width: 660px) {
  .popular-slide {
    text-align: center;
  }
}
.popular-slide__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.popular-slide__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 660px) {
  .popular-slide__labels {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.popular-slide__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.slider-buttons {
  position: absolute;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 1800px) {
  .slider-buttons {
    top: -100px;
    right: 0;
    width: auto;
    gap: 30px;
  }
}

.swiper-button-prev {
  position: absolute;
  left: -130px;
}

.swiper-button-next {
  position: absolute;
  right: -130px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popular-slider-btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: url("../../assets/images/icons/arrow-slider.svg") left 50% center no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}
@media (max-width: 1800px) {
  .popular-slider-btn {
    position: static;
  }
}
@media (max-width: 671px) {
  .popular-slider-btn {
    display: none;
  }
}