.hero {
  margin-top: clamp(1.25rem, 0.259rem + 4.95vw, 4.688rem);
}
.hero .hero-deco {
  position: absolute;
  bottom: -240px;
  right: 0;
  z-index: -1;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.2957746479%;
          flex: 0 0 49.2957746479%;
  padding-bottom: 160px;
}
@media (max-width: 992px) {
  .hero__content {
    padding-bottom: 15px;
  }
}
.hero__title {
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  font-weight: 600;
  line-height: 1.26;
  text-transform: capitalize;
}
.hero__text {
  margin-top: 18px;
}
.hero__filter {
  height: 100px;
  width: 880px;
  background-color: #fff;
  margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
  position: absolute;
}
@media (max-width: 992px) {
  .hero__filter {
    width: 100%;
    position: static;
  }
}
.hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.2957746479%;
          flex: 0 0 49.2957746479%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero__img {
    display: none;
  }
}

/* Filter */
.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
  padding: 5px;
  height: auto;
}
@media (max-width: 576px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 475px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.filter__block:nth-child(2) {
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
}
.filter__btn {
  padding: 5px;
  cursor: pointer;
}
.filter__btn button {
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
  padding: 10px;
}
.filter__btn button:active {
  background-color: #15786c;
}
@media (max-width: 576px) and (min-width: 745px) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter {
  position: relative;
}
.block-filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 clamp(1.25rem, 0.89rem + 1.8vw, 2.5rem);
}
.block-filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-filter__type {
  padding-right: 2px;
}
.block-filter__icon {
  width: 10px;
  height: 7px;
  background: url("../../assets/images/icons/dropdown.svg") center bottom no-repeat;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.block-filter__icon._active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.block-filter__velue {
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.block-filter__dropdown {
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0 2px 2px #000;
          box-shadow: 0 0 2px 2px #000;
}
.block-filter__dropdown._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.block-filter__item {
  padding: 10px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-transform: capitalize;
  cursor: pointer;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #adadad;
  }
}