.popular {
  padding: clamp(1.875rem, -0.467rem + 11.71vw, 10rem);
  background: url('../../assets/images/slider-bg.png') center center/cover no-repeat;

  &__slider {
    margin-top: 40px;
    position: relative;
  }

  &__link {
    text-align: center;
    margin-top: 45px;
  }

  &__link a{
    display: inline-block;
    padding: 22px 42px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 auto;
    text-decoration: none;
    background-color: var(--accent-color);
    transition: background-color .2s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #15786c;
      }
    }
  }

  &-slide {
    display: flex;
    flex-direction: column;
    gap: 27px;

    @media (max-width: 660px) {
      text-align: center;
    }
  }

  &-slide__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.26; 
  letter-spacing: 0.01em;
  text-transform: capitalize;
  }

  &-slide__labels {
    display: flex;
    gap: 20px;

    @media (max-width: 660px) {
      justify-content: center;
    }
  }
  &-slide__label {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: inline-flex;
}
.swiper-slide {
}
.swiper-pagination {
}
.slider-buttons {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1800px) {
    top: -100px;
    right: 0;
    width: auto;
    gap: 30px;
  }
}


.swiper-button-prev {
  position: absolute;
  left: -130px;
}

.swiper-button-next {
  position: absolute;
  right: -130px;
  transform: rotate(180deg);
}

.popular-slider-btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: url('../../assets/images/icons/arrow-slider.svg') left 50% center no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
  @media (max-width: 1800px) {
    position: static;
  }
  @media (max-width: 671px) {
    display: none;
  }
}