.hero {
  margin-top: clamp(1.25rem, 0.259rem + 4.95vw, 4.688rem);
  position: relative;
  padding-bottom: clamp(1.25rem, -0.011rem + 6.31vw, 5.625rem);

    .hero-deco {
      position: absolute;
      bottom: -150px;
      right: 0;
      z-index: -1;
      @media (max-width: 576px) {
        height: 300px;
      }
    }

    &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 992px) {
      flex-direction: column;
    }
  }

    &__content {
    flex: 0 0 calc(700px / 1420px * 100%);
    padding-bottom: 160px;

    @media (max-width: 992px) {
      padding-bottom: 15px;
    }
      
    }
  

    &__title {
font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
font-weight: 600;
line-height: 1.26;
text-transform: capitalize;
  }

    &__text {
      margin-top: 18px;
  }

    &__filter {
      height: 100px;
      width: 880px;
      background-color: #fff;
      margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
      position: absolute;
      @media (max-width: 992px) {
        width: 100%;
        position: static;
      }
  }

  &__img {
    flex: 0 0 calc(700px / 1420px * 100%);
    @media(min-width: 768px) and (max-width: 992px){
      display: none;
    }
  }
}

/* Filter */

   .filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 165px;
    color: #000;
    padding: 5px;
    height: auto;
    @media (max-width: 576px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 475px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }


    &__block {
      &:nth-child(2) {
        border-right: 1px solid #E8E8E8;
        border-left: 1px solid #E8E8E8;
      }
    }

    &__btn {
      padding: 5px;
      cursor: pointer;
      button {
        background-color: var(--accent-color);
        height: 100%;
        width: 100%;
        border: none;
        font-weight: 500;
        font-size: 24px;
        text-transform: capitalize;
        color: #fff;
        padding: 10px;
        &:active {
          background-color: #15786c;
        }
      }
      @media (max-width: 576px) and (min-width: 745px) {
        grid-column: 1/4;
      }
    }
  }

  .block-filter {
    position: relative;

  &__button {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding: 0 clamp(1.25rem, 0.89rem + 1.8vw, 2.5rem);
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__type {
    padding-right: 2px;
  }

  &__icon {
    width: 10px;
    height: 7px;
    background: url('../../assets/images/icons/dropdown.svg') center bottom no-repeat;
    transition: transform .2s;
      &._active {
        transform: rotate(180deg);
      }
  }


  &__velue {
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__dropdown {
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .2s;
    box-shadow: 0 0 2px 2px #000;

    &._active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(5px);
    }
  }
  
  &__item {
    padding: 10px;
    transition: background-color 0.2s;
    text-transform: capitalize;
    cursor: pointer;
    
      @media (any-hover:hover) {
        &:hover {
          background-color: #adadad;
        }
    }
  }
}
  .hero__img {
  }
