.featured {
  padding-top: clamp(1.25rem, -0.011rem + 13vw, 5.625rem);
  padding-bottom: clamp(1.875rem, -0.828rem + 13.51vw, 11.25rem);

  &__box {
    margin-top: clamp(1.875rem, 1.515rem + 1.8vw, 3.125rem);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    overflow: auto;
  }

  &__item {
    flex: 0 0 auto;
  }
}