.reviews {
    position: relative;
    padding-bottom: clamp(1.875rem, 0.602rem + 6.36vw, 6.25rem);

    .reviews-deco {
      position: absolute;
      top: -470px;
      left: 0;
      z-index: -1;
    }

    .reviews__container {
      max-width: 1020px;
      margin: 0 auto;
      padding-top: 100px;
    }

    &__quotes {
      width: clamp(2.813rem, 0.394rem + 12.09vw, 11.125rem);
      padding-bottom: 7px;
    
    }

    &__text {
      max-width: 1003px;
      font-size: clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
      font-weight: 400;
      text-transform: capitalize;
    }

    &__info {
      margin-top: 40px;
    }
    &__name {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.22px;
    text-transform: capitalize;
    }
}